results/
data/
output/ks_results.tsv
output/ks_results_filtered.tsv
output/*
!output/clusters/
!output/clusters/**
!output/statistics/
!output/statistics/**
!output/duplication_classes/
!output/duplication_classes/**
!output/gene_lists/
!output/gene_lists/**
output/duplication_classes/proximal/
!output/info/
!output/info/**
output/
tmp/
logs/
test/
logs/